

ul{
    list-style-type: none;
}
li{
    cursor: pointer;
}

.w-15{
    width: 15%;
}

.text-green{
    color: green;
}

.text-styled{
    font-family: 'Shadows Into Light', cursive;
}

.crossed{
    text-decoration: line-through;
}

